@{
  Layout = "_Layout";
}
@model SweetShop.Models.Flavor

<h1>Add Flavor</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <p>@Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger", @style = "font-weight: 600;"})</p>
  <input type="submit" value="Add">
}