<div class="nav flex-row nav-pills" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
  <a class="nav-link active" data-toggle="pill" role="tab" href="/">Home</a>
  <a class="nav-link active" data-toggle="pill" role="tab" href="/flavors">Flavors</a>
  <a class="nav-link active" data-toggle="pill" role="tab" href="/treats">Treats</a>
  @if (User.Identity.IsAuthenticated)
  {
    <a class="nav-link active" data-toggle="pill" role="tab" href="/account/">Account</a>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" class="nav-link nav-logout" value="Logout" />
    }
  }
  else
  {
    <a class="nav-link active" data-toggle="pill" role="tab" href="/account/login">Login</a>
    <a class="nav-link active" data-toggle="pill" role="tab" href="/account/register">Register</a>
  }


</div>